<div class="row">
  <div class="col-xs-12">
    <p>
      <strong>Erie Day of Code</strong> is a one day event in downtown Erie, PA. Geared towards developers, talks and workshops will focus on honing development skills, and time after the talks and workshops will provide opportunities to meet like minded people working on similar issues.
    </p>
  </div>
</div>